.signFormField {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
}

.requireField:after {
    content: '*';
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    margin-left: 3px;
}
